.parent{
    font-family: 'Noticia Text', serif !important;
}
.tright{
    text-align: right;
}
h1{
    font-size: 90px;
    width: fit-content;
}
hr{
    border-top: 1px solid black;
    padding:0;
}
img{
    margin-top:1rem;
    margin-bottom: 1rem;
}
.bgcolor{
    background-color:maroon;
    width:50%;
    color:white;
    font-size:20px;
    border: 1px maroon;
    border-top-right-radius: 50px 10px;
    position: absolute;
}

.bgcolor1{
    background-color:maroon;
    width:50%;
    color:white;
    font-size:20px;
    border: 1px maroon;
    border-top-right-radius: 50px 10px;
    
}